.mainGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.statDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 8px;
}
